<!-- Extend template Layout -->
{% extends "layout/main_template.html" %}

<!-- Set Active Menu -->
{% set active_page = "data" %}

<!-- Title Page Section -->
{% block title %}
Analysis Sentiment Vaccine Covid-19 - Data Tweet
{% endblock %}

<!-- Css Section -->
{% block style %}
<style>

</style>
{% endblock %}

<!-- Barname Section -->
{% block barname %}
Data Tweets
{% endblock %}

<!-- Breadcrumb Section -->
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{{ url_for('index')}}">Dashboard</a></li>
    <li class=" breadcrumb-item"><a href="#">Data</a></li>
</ol>
{% endblock %}

<!-- Main Section -->
{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Data Tweet</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="example4" class="display mb-5" style="min-width: 845px">
                <thead>
                    <tr>
                        <th>Id Tweet</th>
                        <th>Username</th>
                        <th>Geo Location</th>
                        <th>Label</th>
                        <th>Tweet</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key,value in data.iterrows() %}
                    <tr>
                        <td>{{ value['id'] }}</td>
                        <td>@{{ value['username'] }}</td>
                        <td>{{ value['geo'] }}</td>
                        <td>
                            {% if value['label'] == 0 %}
                            <span class="badge light badge-danger">
                                <i class="fa fa-circle text-danger me-1"></i>
                                Negative
                            </span>
                            {% elif value['label'] == 1 %}
                            <span class="badge light badge-success">
                                <i class="fa fa-circle text-success me-1"></i>
                                Positive
                            </span>
                            {% else %}
                            <span class="badge light badge-warning">
                                <i class="fa fa-circle text-warning me-1"></i>
                                Neutral
                            </span>
                            {% endif %}
                        </td>
                        <td><button type="button" data-bs-toggle="modal" data-bs-target="#tweet{{value['id']}}"
                                class="btn btn-rounded btn-primary">Show</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% for key,value in data.iterrows() %}
            <div class="modal fade" id="tweet{{value['id']}}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Detail Tweet</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="chat-bx d-flex ">
                                <div class="chat-img">
                                    <img src="../static/images/foto.jpg" alt="">
                                </div>
                                <div class=" w-100">
                                    <div class="d-flex mb-1 align-items-center">
                                        <span class="fs-16 text-black">{{value['name']}}</span>
                                        {% if value['label'] == 0 %}
                                        <span class="fs-12 ms-auto accordion-flush badge light badge-danger">
                                            <i class="fa fa-circle text-danger me-1"></i>
                                            Negative
                                        </span>
                                        {% elif value['label'] == 1 %}
                                        <span class="fs-12 ms-auto accordion-flush badge light badge-success">
                                            <i class="fa fa-circle text-success me-1"></i>
                                            Positive
                                        </span>
                                        {% else %}
                                        <span class="fs-12 ms-auto accordion-flush badge light badge-warning">
                                            <i class="fa fa-circle text-warning me-1"></i>
                                            Neutral
                                        </span>
                                        {% endif %}
                                    </div>
                                    <span class="fs-14">@{{ value['username'] }}ssss</span>
                                    <div>
                                        <p class="mb-0 mt-3">{{value['tweet']}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

<!-- Javascript Section -->
{% block js %}
<script>

</script>
{% endblock %}