<!-- Extend template Layout -->
{% extends "layout/main_template.html" %}

<!-- Set Active Menu -->
{% set active_page = "index" %}

<!-- Title Page Section -->
{% block title %}
Analysis Sentiment Vaccine Covid-19 - Dasboard
{% endblock %}

<!-- Css Section -->
{% block style %}
<style>
    
</style>
{% endblock %}

<!-- Barname Section -->
{% block barname %}
Dasboard
{% endblock %}

<!-- Breadcrumb Section -->
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
</ol>
{% endblock %}

<!-- Main Section -->
{% block content %}
<h1> Halaman Dashboard </h1>
{% endblock %}

<!-- Javascript Section -->
{% block js %}
<script>

</script>
{% endblock %}