<!-- Extend template Layout -->
{% extends "layout/main_template.html" %}

<!-- Set Active Menu -->
{% set active_page = "klasifikasi" %}

<!-- Title Page Section -->
{% block title %}
Analysis Sentiment Vaccine Covid-19 - Classification Tweet
{% endblock %}

<!-- Css Section -->
{% block style %}
<style>

</style>
{% endblock %}

<!-- Barname Section -->
{% block barname %}
Classification
{% endblock %}

<!-- Breadcrumb Section -->
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{{ url_for('index')}}">Dashboard</a></li>
    <li class=" breadcrumb-item"><a href="#">Classification</a></li>
</ol>
{% endblock %}

<!-- Main Section -->
{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Input Data Tweet Baru</h4>
    </div>
    <div class="card-body">
        <form action="{{ url_for('predict')}}" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <div class="form-file">
                    <input type="file" name="file" class="form-file-input form-control">
                </div>
                <button class="btn btn-primary btn-sm" type="submit">Klasifikasi</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

<!-- Javascript Section -->
{% block js %}
<script>

</script>
{% endblock %}